<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <div style="align-items: center;">
    <table class="table" style="border: 1px;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Senha</th>
            <th scope="col"><input type="" value=""></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td><%=nome%></td>
            <td><%=email%></td>
            <td><%=senha%></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
</body>
</html>